:root {
  --primary: #ea40a4;
  --secondary: #3a82ee;
  --light: #eee;
  --gray: #aaa;
  --dark: #313154;
  --danger: #ff5b57;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --secondary-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
  --primary-glow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

body {
  width: 100%;
  background: var(--light);
  color: var(--dark);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 2rem 1.5rem;
}

.app {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

header {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

section {
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

h3 {
  margin-bottom: 0.5rem;
  color: var(--dark);
  /* font-size: 1rem;
  font-weight: 400; */
}

h4 {
  margin-bottom: 0.5rem;
  color: var(--gray);
  /* font-size: 0.875rem;
  font-weight: 700; */
}

input:not([type="radio"]):not([type="checkbox"]),
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: initial;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

/* Bubbles */
.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 0.25rem;
  border: 2px solid var(--secondary);
  box-shadow: var(--secondary-glow);
}

.bubble.firebrick {
  border-color: firebrick;
}

.bubble.firebrick::after {
  background-color: firebrick;
}

.bubble.firebrick,
.bubble.firebrick::after {
  box-shadow: 0px 0px 4px rgba(139, 0, 0, 0.75);
}

.bubble.seagreen {
  border-color: seagreen;
}

.bubble.seagreen::after {
  background-color: seagreen;
}

.bubble.seagreen,
.bubble.seagreen::after {
  box-shadow: 0px 0px 4px rgba(46, 139, 87, 0.75);
}

.bubble.royalblue {
  border-color: royalblue;
}

.bubble.royalblue::after {
  background-color: royalblue;
}

.bubble.royalblue,
.bubble.royalblue::after {
  box-shadow: 0px 0px 4px rgba(65, 105, 225, 0.75);
}

.bubble.darkorange {
  border-color: darkorange;
}

.bubble.darkorange::after {
  background-color: darkorange;
}

.bubble.darkorange,
.bubble.darkorange::after {
  box-shadow: 0px 0px 4px rgba(255, 140, 0, 0.75);
}

.bubble.slategray {
  border-color: slategray;
}

.bubble.slategray::after {
  background-color: slategray;
}

.bubble.slategray,
.bubble.slategray::after {
  box-shadow: 0px 0px 4px rgba(112, 128, 144, 0.75);
}

.bubble::after {
  content: "";
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  border-radius: 0.1rem;
  transition: 0.2s ease-in-out;
}

input:checked ~ .bubble::after {
  width: 12px;
  height: 12px;
  opacity: 1;
}

/* Logo */
.logo-container {
  max-width: 200px;
}

.logo-container .logo {
  display: block;
  margin-bottom: 2rem;
}

.logo-container .logo img {
  width: 100%;
}

/* Greeting */
.greeting .title {
  display: flex;
}

.greeting .title input {
  flex: 1 1 0%;
  min-width: 0;
}

.greeting .title,
.greeting .title input {
  color: var(--dark);
  font-size: 1.5rem;
  font-weight: 700;
}

/* Create task */
.create-task input[type="text"] {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1rem 1.5rem;
  background-color: #fff;
  color: var(--dark);
  font-size: 1.125rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

/* Categories */
.categories-wrapper .new-category input[type="text"] {
  margin-bottom: 1rem;
}

.categories-wrapper .new-category {
  display: none;
}

.categories-wrapper .saved-categories,
.categories-wrapper .category-colors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
}

.categories-wrapper .saved-categories label,
.categories-wrapper .category-colors label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  cursor: pointer;
}

/* .category-colors label:hover {
  box-shadow: 0px 0px 14px rgba(139, 0, 0, 0.75);
} */

.categories-wrapper .saved-categories .category-name,
.categories-wrapper .category-colors .color-name {
  margin-top: 0.5rem;
  color: var(--dark);
  font-size: 0.75rem;
}

.categories-wrapper .bubble {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.categories-wrapper .bubble::after {
  border-radius: 50%;
}

.categories-wrapper input:checked ~ .bubble::after {
  width: 8px;
  height: 8px;
}

.new-tasks-cats-btns {
  display: flex;
}

#add-category-btn,
#del-category-btn {
  display: none;
}

.new-tasks-cats-btns button {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1.15rem;
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

#new-task-btn,
#add-category-btn {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: var(--secondary);
  box-shadow: var(--secondary-glow);
}

#new-category-btn,
#del-category-btn {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: var(--primary);
  box-shadow: var(--primary-glow);
}

#new-task-btn:hover,
#add-category-btn:hover {
  box-shadow: 0px 0px 14px rgba(58, 130, 238, 0.75);
}

#new-category-btn:hover,
#del-category-btn:hover {
  box-shadow: 0px 0px 14px rgba(234, 64, 164, 0.75);
}

/* Task lists */
.task-wrapper {
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

.cat-tabs {
  display: flex;
  margin-bottom: 1px;
}

.cat-tabs .cat-tab {
  display: block;
  margin-right: 0.5rem;
  padding: 0.3rem 0.5rem;
  border: 1px solid;
  font-size: 14px;
  border-radius: 0.25rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

#no-tasks-msg {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.7rem;
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#task-list {
  margin: 1rem 0;
}

/* Task items */
#task-list .task-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  padding: 0.7rem;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.task-item:hover {
  box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.1) !important;
}
/*  */
.task-item label {
  display: block;
  margin-right: 1rem;
  cursor: pointer;
}

.task-item .task-content {
  flex: 1 1 0%;
  font-size: 1rem;
  color: var(--dark);
}

.task-item .task-actions {
  display: flex;
  align-items: center;
}

.task-item .task-actions span {
  display: block;
  padding: 0.3rem 0.5rem;
  color: #fff;
  border-radius: 0.25rem;
  opacity: 0.95;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.task-item .task-actions span:hover {
  transform: scale(1.1);
  opacity: 1;
}

.task-item .task-actions .edit-btn {
  color: var(--secondary);
}

.task-item .task-actions .delete-btn {
  color: var(--danger);
}

.task-item.done .task-content {
  text-decoration: line-through;
  color: var(--gray);
}
/* Task filters */
.task-filters {
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.task-view-filters {
  display: flex;
  flex: 2 1 0;
  justify-content: space-evenly;
  margin-right: 0.5rem;
}
.task-view-filters *, #del-completed {
  padding: 0.1rem 0.5rem;
  border-radius: 0.25rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.task-view-filters #view-all {
  color: #220070;
  border: 1px solid #220070;
}

.task-view-filters #view-all:hover {
  box-shadow: 3px 3px 8px rgba(34, 0, 112, 0.75);
}

.task-view-filters #view-active{
  color: #450eff;
  border: 1px solid #450eff;
}

.task-view-filters #view-active:hover {
  box-shadow: 3px 3px 8px rgba(69, 14, 255, 0.75);
}

.task-view-filters #view-completed{
  color: #e200f7;
  border: 1px solid #e200f7;
}

.task-view-filters #view-completed:hover {
  box-shadow: 3px 3px 8px rgba(226, 0, 247, 0.75);
}

.del-completed-wrapper #del-completed {
  color: #ff321a;
  border: 1px solid #ff321a;
}

.del-completed-wrapper #del-completed:hover {
  box-shadow: 3px 3px 8px rgba(255, 50, 26, 0.75);
}

/* Active class */
.cat-tabs .cat-tab.active, .task-view-filters .task-filter.active {
  border-bottom-width: 3px !important;
}

footer {
  display: flex;
  padding: 2rem 1.5rem;
  justify-content: space-between;
  font-size: 1rem;
}

.made-by {
  padding-top: 0.3rem;
}

.highlight {
  color: #db3e38;
}

.socials {
  display: flex;
  min-width: 6rem;
  justify-content: space-between;
  align-items: center;
}

.socials a {
  color: var(--dark);
  text-decoration: none;
}

#ss-logo {
  width: 1.5em;
  padding-top: 0.3rem;
  transition: 300ms ease-in;
}

#ss-logo:hover {
  transform: rotate(360deg);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* Small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
  main {
    width: 30rem;
  }
} */
/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  .app main {
    width: 40rem;
  }
} */
/* large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
  .app main {
    width: 50rem;
  }
} */
